<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanjay Bansal | Resume</title>
    <link href="https://fonts.googleapis.com/css?family=Caveat|Open+Sans:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- // Intro -->
    <header>
        <div class="content-wrap">
            <img class="profile-img column-narrow" src="/images/pp.jpg" alt="Sanjay Bansal">
            
            <div class="column-wide">
              <h1>Sanjay Bansal</h1>
              <h2>Web Developer </h2>
              <p>As a developer, I specialize in creating modular and scalable front-end architectures. As an educator, I focused on creating inclusive learning environments and curriculum development.</p>
            </div>
        </div>
    </header>
    
    <main> 
        <!-- // Work Experience -->
        <section class="work">
            <div class="content-wrap">
                <h2>Work Experience</h2>

                <!-- Job Details: copy this block to add more positions. -->
                <div class="column-narrow">
                    <h3>Junior Programmer(Co-op)</h3>
                    <p>Oqab Technologies Pvt. Ltd </p>
                    <p>2018-Feb to 2018-May</p>
                </div>
                <div class="column-wide">
                  <p>Provides various front-end related services ranging from development work, consultations and speaking engagements.</p>
                  <p>Key contributions:</p>
                    <ul>
                        <li>Perform development, upgrade, install development solutions.</li>
                        <li>Develop framework process for applications project using existing technologies that are implemented in a structured, maintainable fashion.</li>
                        <li>Responsible for coordination, requirements derivation, software design and additionally implementation of projects.</li>
                        <li>Work primarily in deployment as well as development solutions team with a focus on delivering for improving the experience of customer development.</li>
                        <li>Work closely with product development teams, product management, design office, services, and also helps in upgrade testing, analyzing resolving upgrade issues.</li>
                        <li>Develop automation tools, utility scripts for our project <a href = "www.zuglu.in">ZUGLU</a>.</li>
                    </ul>
                <!-- <p>See more at <a href="http://christinatruong.com">christinatruong.com</a>.</p> -->
                </div>
                
                <!-- Job Details -->
                <div class="column-narrow">
                    <h3>Customer Service Representative(Part time)</h3>
                    <p>Shell gas station</p>
                    <p>February 2017 -  present</p>
                </div>
                
                <div class="column-wide">
                    <p>Interact with customers on behalf of an organization.Provide information about products and services, take orders, respond to customer complaints, and process returns.The target is to ensure excellent service standards and maintain high customer satisfaction</p>

                    <p>Key contributions:</p>
                    <ul>
                        <li>Helped customers regarding their bills and payments.</li>
                        <li>Giving customer support via Telephone, E-mail and In-Person.</li>
                        <li>Consistently improve customer satisfaction through the expert resolution of conflicts, issues, and concerns.</li>
                    </ul>
                </div>
                
                <!-- Job Details -->
                <div class="column-narrow">
                    <h3>Junior Computer Technician</h3>
                    <p>MEHTA COMPUTERS</p>
                    <p>January 2014 - June 2014</p>
                </div>
                <div class="column-wide">
                    <p>Provide complete basic IT maintenance and support tasks, as well as managing the relationship between the customer and Company.</p>
                    <p>Key contributions:</p>
                    <ul>
                        <li>Accept customer desktop and laptop systems in store for repair.</li>
                        <li>Request information about software and hardware issues and document all concern.</li>
                        <li>Breakdown systems, remove malfunctioning hardware and install new parts.</li>
                    </ul>
                </div>
            </div>
        </section>


        <!-- // Education -->
        <section class="education">
            <div class="content-wrap">
                <h2>Education</h2>

                <!-- School details: copy this block to add more schools. -->
                <h3>Georgian College, Barrie, ON</h3>
                <h4>Computer Programmer</h4>
                <p>3.2/4.0 - Cumulative GPA.</p>
                <p>Key Courses: Web and Internet Fundamentals, Programming Fundamentals, System Analysis, Object Oriented Programming, Internet of Things, Web Programming, The Mainframe Environment, Relational Database, Project Management</p>
                
            </div>
        </section>
    </main>
    
    <!-- // Footer & contact info -->
    <footer>
        <div class="content-wrap">
            <h2>Let's Keep in Touch!</h2>
            
            <!-- Social media and contact links. Add or remove any networks. -->
            <div class="contact-info">
                <a href="">SanjayBansal@gmail.com</a>
                <a href="">yourwebsite.com</a>
                <a href="#">Twitter</a>
                <a href="#">LinkedIn</a>
                <a href="#">Facebook</a>
            </div>

            <p>Copyright by Sanjay Bansal</p>
        </div>
    </footer>
</body>
</html>